.header__logo {
    background-image: url('../../../images/header-logo.svg');
    background-size: cover;
    flex-basis: 176px;
    min-height: 52px;
    margin-right: auto;
}

@media screen and (max-width: 425px) {
    .header__logo {
        flex-basis: 142px;
        min-height: 42px;
        object-fit: fill;
}
}