.header__lang-link {
    text-decoration: none;
    width: 30px;
    margin: auto 0 0 18px;
    color: white;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link:hover {
    opacity: .8;
}

@media screen and (max-width: 425px) {
    .header__lang-link {
        width: 22px;
    }
}